<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
    <typeAliases>
		<typeAlias type="com.syuusyoku.zipangu.vo.MemberVO" alias="member" />
		<typeAlias type="com.syuusyoku.zipangu.vo.CompanyVO" alias="companyVO" />
		<typeAlias type="com.syuusyoku.zipangu.vo.PersonalityVO" alias="PersonalityVO"/>
		<typeAlias type="com.syuusyoku.zipangu.vo.TimelineVO" alias="TimelineVO"/>
		<typeAlias type="com.syuusyoku.zipangu.vo.List_MsgVO" alias="List_MsgVO"/>
		<typeAlias type="com.syuusyoku.zipangu.vo.Sender_MsgVO" alias="Sender_MsgVO"/>
	</typeAliases>
	<mappers>
       <mapper resource="mapper/memberMapper.xml" />
       <mapper resource="mapper/companyMapper.xml" />
    </mappers>
		<mapper resource="mapper/personalityMapper.xml" />
		<mapper resource="mapper/msgMapper.xml" />
</configuration>
