<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	<typeAliases>
		<typeAlias type="com.syuusyoku.zipangu.vo.MemberVO" alias="member" />
		<typeAlias type="com.syuusyoku.zipangu.vo.ResumeVO" alias="resume" />
		<typeAlias type="com.syuusyoku.zipangu.vo.CareerVO" alias="career" />
		<typeAlias type="com.syuusyoku.zipangu.vo.QualifiedVO" alias="qualified" />
	</typeAliases>
	<mappers>
		<mapper resource="mapper/memberMapper.xml" />
		<mapper resource="mapper/resumeMapper.xml" />
	</mappers>
</configuration>
