<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.syuusyoku.zipangu.dao.CompanyMapper">
    <insert id="insertBookmark" parameterType="companyVO">
        insert into company_result(
            company_num,
            userid
        )values(
            #{company_num},
            #{userid}
        )
    </insert>
</mapper>