<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.syuusyoku.zipangu.dao.InterviewMapper">

	<select id="selectList" resultType="qvo">
		SELECT
			question_num
			, question_text
		FROM
			question
	</select>
	
<!-- 	<insert id="insertResult" parameterType="ivo"> -->
<!-- 		INSERT INTO -->
<!-- 			insertview_result( -->
<!-- 			interview_num -->
<!-- 			, question_num -->
<!-- 			, voicefilename -->
<!-- 			, result -->
<!-- 			) VALUES ( -->
<!-- 			interview_num -->
<!-- 			, question_num -->
<!-- 			, voicefilename -->
<!-- 			, result -->
<!-- 			); -->
<!-- 	</insert> -->


	
</mapper>
