<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.syuusyoku.zipangu.dao.PersonalityMapper"> 

	<insert id="insertPersonality" parameterType="java.util.Map">
		<foreach collection="list11" item="item" index="index" open="INSERT ALL" separator=" " close="SELECT * FROM DUAL" > 
			INTO PERSONALITY(
				USERID,
				TRAIT,
				RATE
			) VALUES(
				#{item.userID},
				#{item.trait},
				#{item.rate}
			)
		</foreach>
	</insert>
	
	<update id="updatePersonality" parameterType="java.util.Map">
		<foreach collection="list11" item="item" index="index"  separator=";" open="DECLARE BEGIN" close="; END;" >
			UPDATE PERSONALITY
			SET
				RATE = #{item.rate} 
			WHERE
				USERID = #{item.userID}
				AND TRAIT = #{item.trait}
		</foreach>
	</update>

	<select id="keywordList" parameterType="String" resultType="PersonalityVO">
		SELECT
			USERID,
			TRAIT,
			ROUND(RATE*100) AS RATE
		FROM 
			PERSONALITY
		WHERE 
			USERID = #{userID}
		ORDER BY
			RATE DESC
	</select>

	<insert id="timelineWrite" parameterType="TimelineVO">
		INSERT INTO TIMELINE(
			TIMELINE_NUM,
			USERID,
			TRAITS_SELECTED, 
			EPISODE_TITLE, 
			EPISODE_CONTENT, 
			START_DATE, 
			FINISH_DATE
		) VALUES(
			TIMELINE_SEQ.nextval, 
			#{userID}, 
			#{traits_Selected}, 
			#{episode_Title}, 
			#{episode_Content}, 
			TO_DATE(#{start_Date},'YYYY-MM-DD'), 
			TO_DATE(#{finish_Date},'YYYY-MM-DD')
		)
	</insert>

	
	<select id="timelineRead" parameterType="TimelineVO" resultType="TimelineVO">
		SELECT
			*
		FROM
			TIMELINE
		WHERE
			TIMELINE_NUM = #{timeline_Num}
			AND USERID = #{userID}
	</select>
	
	<update id="timelineUpdate" parameterType="TimelineVO">
		UPDATE TIMELINE
		SET
			TRAITS_SELECTED = #{traits_Selected}, 
			EPISODE_TITLE = #{episode_Title},
			EPISODE_CONTENT = #{episode_Content},
			START_DATE = TO_DATE(#{start_Date},'YYYY-MM-DD'), 
			FINISH_DATE = TO_DATE(#{finish_Date},'YYYY-MM-DD') 
		WHERE
			USERID = #{userID}
			AND TIMELINE_NUM = #{timeline_Num}
	</update>

	<delete id="timelineDelete" parameterType="TimelineVO">
		DELETE FROM TIMELINE
		WHERE
			USERID = #{userID}
			AND TIMELINE_NUM=#{timeline_Num}
	</delete>

	<select id="timelineSearch" parameterType="map" resultType="TimelineVO">
		SELECT
			*
		FROM
			TIMELINE
		WHERE 
			<choose>
				<when test="searchItem=='byKeyword'">
					TRAITS_SELECTED like '%'||#{searchKeyword}||'%'
				</when>
				<when test="searchItem=='byDate'">
					<![CDATA[
					FINISH_DATE >= #{searchKeyword}
					AND START_DATE <= #{searchKeyword}
					]]>
				</when>
			</choose>
			AND USERID = #{userID}
		ORDER BY
			START_DATE DESC
	</select>
	
</mapper>